<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.novelcommon.mapper.UserBuyRecordMapper">

    <resultMap id="BaseResultMap" type="org.example.novelcommon.domain.UserBuyRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="bookId" column="book_id" jdbcType="BIGINT"/>
            <result property="bookName" column="book_name" jdbcType="VARCHAR"/>
            <result property="bookIndexId" column="book_index_id" jdbcType="BIGINT"/>
            <result property="bookIndexName" column="book_index_name" jdbcType="VARCHAR"/>
            <result property="buyAmount" column="buy_amount" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,book_id,
        book_name,book_index_id,book_index_name,
        buy_amount,create_time
    </sql>
</mapper>
