<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.novel.novel.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="org.example.novel.novel.domain.Book">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="workDirection" column="work_direction" jdbcType="TINYINT"/>
            <result property="catId" column="cat_id" jdbcType="INTEGER"/>
            <result property="catName" column="cat_name" jdbcType="VARCHAR"/>
            <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
            <result property="bookName" column="book_name" jdbcType="VARCHAR"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="authorName" column="author_name" jdbcType="VARCHAR"/>
            <result property="bookDesc" column="book_desc" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="FLOAT"/>
            <result property="bookStatus" column="book_status" jdbcType="TINYINT"/>
            <result property="visitCount" column="visit_count" jdbcType="BIGINT"/>
            <result property="wordCount" column="word_count" jdbcType="INTEGER"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="yesterdayBuy" column="yesterday_buy" jdbcType="INTEGER"/>
            <result property="lastIndexId" column="last_index_id" jdbcType="BIGINT"/>
            <result property="lastIndexName" column="last_index_name" jdbcType="VARCHAR"/>
            <result property="lastIndexUpdateTime" column="last_index_update_time" jdbcType="TIMESTAMP"/>
            <result property="isVip" column="is_vip" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="crawlSourceId" column="crawl_source_id" jdbcType="INTEGER"/>
            <result property="crawlBookId" column="crawl_book_id" jdbcType="VARCHAR"/>
            <result property="crawlLastTime" column="crawl_last_time" jdbcType="TIMESTAMP"/>
            <result property="crawlIsStop" column="crawl_is_stop" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,work_direction,cat_id,
        cat_name,pic_url,book_name,
        author_id,author_name,book_desc,
        score,book_status,visit_count,
        word_count,comment_count,yesterday_buy,
        last_index_id,last_index_name,last_index_update_time,
        is_vip,status,update_time,
        create_time,crawl_source_id,crawl_book_id,
        crawl_last_time,crawl_is_stop
    </sql>

    <select id="list" resultType="org.example.novel.novel.domain.Book">
        select
        `id`,`work_direction`,`cat_id`,`cat_name`,`pic_url`,`book_name`,`author_id`,`author_name`,`book_desc`,`score`,`book_status`,`visit_count`,`word_count`,`comment_count`,`yesterday_buy`,`last_index_id`,`last_index_name`,`last_index_update_time`,`is_vip`,`status`,`update_time`,`create_time`,`crawl_source_id`,`crawl_book_id`,`crawl_last_time`,`crawl_is_stop`
        from book
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="workDirection != null and workDirection != ''">and work_direction = #{workDirection}</if>
            <if test="catId != null and catId != ''">and cat_id = #{catId}</if>
            <if test="catName != null and catName != ''">and cat_name = #{catName}</if>
            <if test="picUrl != null and picUrl != ''">and pic_url = #{picUrl}</if>
            <if test="bookName != null and bookName != ''">and book_name = #{bookName}</if>
            <if test="authorId != null and authorId != ''">and author_id = #{authorId}</if>
            <if test="authorName != null and authorName != ''">and author_name = #{authorName}</if>
            <if test="bookDesc != null and bookDesc != ''">and book_desc = #{bookDesc}</if>
            <if test="score != null and score != ''">and score = #{score}</if>
            <if test="bookStatus != null and bookStatus != ''">and book_status = #{bookStatus}</if>
            <if test="visitCount != null and visitCount != ''">and visit_count = #{visitCount}</if>
            <if test="wordCount != null and wordCount != ''">and word_count = #{wordCount}</if>
            <if test="commentCount != null and commentCount != ''">and comment_count = #{commentCount}</if>
            <if test="yesterdayBuy != null and yesterdayBuy != ''">and yesterday_buy = #{yesterdayBuy}</if>
            <if test="lastIndexId != null and lastIndexId != ''">and last_index_id = #{lastIndexId}</if>
            <if test="lastIndexName != null and lastIndexName != ''">and last_index_name = #{lastIndexName}</if>
            <if test="lastIndexUpdateTime != null and lastIndexUpdateTime != ''">and last_index_update_time =
                #{lastIndexUpdateTime}
            </if>
            <if test="isVip != null and isVip != ''">and is_vip = #{isVip}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="crawlSourceId != null and crawlSourceId != ''">and crawl_source_id = #{crawlSourceId}</if>
            <if test="crawlBookId != null and crawlBookId != ''">and crawl_book_id = #{crawlBookId}</if>
            <if test="crawlLastTime != null and crawlLastTime != ''">and crawl_last_time = #{crawlLastTime}</if>
            <if test="crawlIsStop != null and crawlIsStop != ''">and crawl_is_stop = #{crawlIsStop}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="org.example.novel.novel.domain.Dto.AtaCount">
        select DATE_FORMAT(create_time,"%Y-%m-%d") as staDay ,count(1) as userCount from book where create_time>=#{minDate} GROUP BY staDay
    </select>

</mapper>
