<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.novel.novel.mapper.NewsMapper">

    <resultMap id="BaseResultMap" type="org.example.novel.novel.domain.News">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="catId" column="cat_id" jdbcType="INTEGER"/>
            <result property="catName" column="cat_name" jdbcType="VARCHAR"/>
            <result property="sourceName" column="source_name" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUserId" column="create_user_id" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUserId" column="update_user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,cat_id,cat_name,
        source_name,title,content,
        create_time,create_user_id,update_time,
        update_user_id
    </sql>

    <select id="list" resultType="org.example.novel.novel.domain.News">
        select `id`,`cat_id`,`cat_name`,`source_name`,`title`,`content`,`create_time`,`create_user_id`,`update_time`,`update_user_id` from news
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="catId != null and catId != ''"> and cat_id = #{catId} </if>
            <if test="catName != null and catName != ''"> and cat_name = #{catName} </if>
            <if test="sourceName != null and sourceName != ''"> and source_name = #{sourceName} </if>
            <if test="title != null and title != ''"> and title like concat('%',#{title},'%')  </if>
            <if test="content != null and content != ''"> and content = #{content} </if>
            <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
            <if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
            <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
            <if test="updateUserId != null and updateUserId != ''"> and update_user_id = #{updateUserId} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
</mapper>
